@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   Columns Style Sheet
   Author: Abdulwahab Akorede Akorede
   Date:   03/24/2023

   Filename:   lht_columns.css

*/

/* Column Styles */

article {
   columns: 260px; /* sets column width to 260px and column count to 2 */
   column-gap: 20px; /* sets gap between columns to 20px */
   column-rule: 1px solid rgb(154, 64, 31); /* adds dividing line between columns */
   widows: 2;
   orphans: 2; /* sets minimum size of widows and orphans to 2 lines */
 }
 
 article h1 {
   column-span: all;
 }
 